* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.clearfix:after
{
    content:"";
    display: table;
    clear: both;
}
h1
{
    color: rebeccapurple;
    font-family: cursive;
    font-size: 50px;
    text-align: justify;
    
    margin-bottom: 20px;
}   

img{
    border-radius: 15px;
    max-width: 130px;
    max-height: auto;
}
p {
    color: cadetblue;
    font-family:fantasy;
    font-size: 10 px;
    text-align: left;
    
    margin-bottom: 10px;
}

strong {
    color: goldenrod;
    font-family:inherit;
    font-size: 12 px;
    text-align: justify;
}

em {
        color: hotpink;
    font-family:monospace;
    font-size: 11 px;
    text-align: justify;
}

h2 {
    color: burlywood;
    font-family:sans-serif;
    font-size: 40px;
    text-align: justify;
    
    margin-bottom: 10px;
}

h3 {
    color: coral;
    font-family:serif;
    font-size: 35px;
    text-align: left;
}



h4 {
    color: chocolate;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
}

.Author-image {
    width: 25%;
    float: right;
    padding-top: 50px;
}

.Author-information {
    width: 65%;
    float: left;
    margin-bottom: 10px;
    
    padding-top: 10px;
}

.Intro {
    width: 100%;
    float: left;
    
    padding-bottom: 20px;
    border-bottom: 5px solid #333;
    border-top: 5px solid #333;
}

.Full {
    margin: 30px 30px 30px 30px;
}

.Headline {
    text-align: center;
}

.Html {
    float: left;
    padding-top: 60px;
    margin-left: 50px;
}

.HTML-info {
    width: 75%;
    float: right;
    padding-top: 20px;  
}

.end {
    border-bottom: 5px solid #333;
}

.Only-image {
    margin-left: 70px;
}
